@using FlmAutoRent.Presentation.Areas.Admin.Models;
@model AccountPasswordViewModel;


<section id="password" class="box-shadow border-radius-small padding-bottom-small box-shadow">
    <form method="POST" asp-controller="Account" asp-action="Password"  >
        <input type="hidden" name="AccountGuid" value="@Model.AccountGuid" />

         <div class="display-flex flex-direction-column">
            
            <section class="display-flex flex-direction-column align-items-center justify-content-space-around background-color-black">
                <img src="/adminroot/img/logo.png" alt="logo" width="auto" height="50" class="margin-top-xsmall margin-bottom-xsmall">
            </section>
            
            <section class="padding-xsmall display-flex flex-direction-column">
                <section class="padding-left-xsmall padding-right-xsmall padding-top-xsmall display-flex flex-direction-column width-1-1">
                    @Html.LabelFor(m => m.Password)
                    <input asp-for="@Model.Password" class="margin-top-xsmall" autocomplete="off" placehodler = "..." value="@Model.Password" />
                    <span asp-validation-for="@Model.Password" class="padding-xsmall color-red font-weight-600"></span>
                </section>

                <section class="padding-left-xsmall padding-right-xsmall display-flex flex-direction-column width-1-1">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    <input asp-for="@Model.ConfirmPassword" class="margin-top-xsmall" autocomplete="off" placehodler = "..." value="@Model.ConfirmPassword" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="padding-left-xsmall color-red font-weight-600"></span>
                </section>
            </section>

            <section class="display-flex flex-direction-column align-items-center justify-content-space-around border-top-grey padding-top-small padding-small-bottom">
                <input type="submit" class="btn background-color-blue color-white text-center box-shadow" value="Salva">
            </section>

         </div>
        
    </form>
</section>