@using FlmAutoRent.Presentation.Areas.Admin.Models;
@model GroupsTableViewModel;


<div class="padding-small">
    <h1>Gruppi</h1>

    <section class="border-grey box-shadow">
        <form id="table-groups" method="post" action="/System/Groups">
            <div class="padding-small display-flex border-bottom-grey background-color-white">
                <section class="table-header display-flex flex-direction-column flex-direction-row-d justify-content-flex-start flex-grow-2 max-width-100">
                    <select id="how-many-fields" asp-for="HowManyField" asp-items="@(new SelectList(Model.HowManyFieldList, "Value", "DisplayText"))"></select>
                    
                    <section class="display-flex justify-content-space-around margin-top-xsmall-m justify-content-flex-end-d flex-grow-2">
                        <input id="find" class="flex-grow-5-m" asp-for="@Model.Find" placeholder="Cerca..." autocomplete="off" />
                        <a class="btn line-height-35 background-color-blue color-white margin-left-xsmall padding-left-small padding-right-small box-shadow" asp-area="Admin" asp-controller="System" asp-action="GroupsAddOrEdit">Aggiungi</a>
                    </section>
                </section>
            </div>
            <div class="display-flex padding-small overflow-x-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th class="text-center">Operatori</th>
                            <th>Data</th>
                            <th class="text-center">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ProfilingGroup in Model.GroupsListViewModel)
                        {
                            var disabled = "";
                            @if( ProfilingGroup.OperatorsInThisGroup > 0){
                                disabled = "disabled";
                            }
                            <tr>
                                <td>@ProfilingGroup.Name</td>
                                <td class="text-center">@ProfilingGroup.OperatorsInThisGroup</td>
                                <td>@ProfilingGroup.Date</td>
                                <td class="text-center">
                                    <a class="btn background-color-blue color-white font-size-14 padding-left-small padding-right-small vertical-align-middle box-shadow" asp-area="Admin" asp-controller="System" asp-action="GroupsAddOrEdit" asp-route-id="@ProfilingGroup.Id">Modifica</a>
                                    <input type="button" class="btn background-color-red color-white font-size-14 padding-left-small padding-right-small vertical-align-middle delete group-delete text-center box-shadow" style="min-width: 102px;" id="@ProfilingGroup.Id" value="Elimina" @disabled/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </form>
    </section>
</div>