@using FlmAutoRent.Presentation.Areas.Admin.Models;
@model FilesTableViewModel;


<div class="padding-small">
    <h1>Immagini</h1>

    <section class="border-grey box-shadow">
        <form id="table-groups" method="POST" asp-area="Admin" asp-controller="Content" asp-action="Images" >
            <div class="padding-small display-flex border-bottom-grey background-color-white">
                <section class="table-header display-flex flex-direction-column flex-direction-row-d justify-content-flex-start flex-grow-2 max-width-100">
                    <select id="how-many-fields" asp-for="HowManyField" asp-items="@(new SelectList(Model.HowManyFieldList, "Value", "DisplayText"))"></select>
                    
                    <section class="display-flex justify-content-space-around margin-top-xsmall-m justify-content-flex-end-d flex-grow-2">
                        <input id="find" class="flex-grow-5-m" asp-for="@Model.Find" placeholder="Cerca..." autocomplete="off" />
                        <a class="btn line-height-35 background-color-blue color-white margin-left-xsmall padding-left-small padding-right-small box-shadow" asp-area="Admin" asp-controller="Content" asp-action="ImagesAddOrEdit">Aggiungi</a>
                    </section>
                </section>
            </div>
            <div class="display-flex padding-small overflow-x-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Immagine</th>
                            <th>Nome</th>
                            <th>Utilizzo</th>
                            <th class="text-center">Azioni</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contentFile in Model.FilesListViewModel)
                        {
                            var disabled = "";
                            @if( contentFile.Nusing > 0){
                                disabled = "disabled";
                            }
                            <tr>
                                <td class="vertical-align-middle text-center"><img src="@contentFile.FilePath" width="150" height="auto" /></td>
                                <td class="vertical-align-middle">@contentFile.Name</td>
                                <td class="vertical-align-middle text-center">@contentFile.Nusing</td>
                                <td class="vertical-align-middle text-center">
                                    <a class="btn background-color-blue color-white font-size-14 padding-left-small padding-right-small vertical-align-middle box-shadow" asp-area="Admin" asp-controller="Content" asp-action="ImagesAddOrEdit" asp-route-id="@contentFile.Id">Modifica</a>
                                    <input type="button" class="btn background-color-red color-white font-size-14 padding-left-small padding-right-small vertical-align-middle delete image-delete box-shadow" id="@contentFile.Id" value="Elimina" @disabled/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="display-flex flex-direction-row justify-content-space-between align-items-center background-color-grey padding-top-small padding-bottom-small">
                <div class="display-flex flex-direction-column margin-left-small">
                    <p class="font-size-16">Visualizzo @Model.displayRecord risultati su @Model.totalRecords</p>
                </div>
                @if(Model.displayPagination){
                    <ul class="pagination display-flex flex-direction-row justify-content-flex-end text-right">
                        @for(int i = 1; i <= Model.pageTotal; i++)
                        {
                            @if(i == Model.pageNumber){
                                <li>
                                    <a asp-area="Admin" asp-controller="Content" asp-action="Images" asp-route-pageSize="@Model.HowManyField" asp-route-pageNumber="@i" class="margin-right-xsmall background-color-blue color-white btn-circle box-shadow display-flex flex-direction-column text-center">@i</a>
                                </li>
                            } else {
                                <li>
                                    <a asp-area="Admin" asp-controller="Content" asp-action="Images" asp-route-pageSize="@Model.HowManyField" asp-route-pageNumber="@i" class="margin-right-xsmall background-color-blue-light color-white btn-circle box-shadow display-flex flex-direction-column text-center">@i</a>
                                </li>
                            }
                        }
                    </ul>
                }
            </div>

        </form>
    </section>
</div>